<!DOCTYPE html>
<html lang="en">

<body>
<div class="footer">


    <div style="width:50vw; min-width:400px">

        <div class="contact_detail">
            <img src="./img/mobile.png" class="icon">
            <p style="line-height:25px;">+886-4-23341341</p>
        </div>

        <div class="contact_detail">
            <img src="./img/email.png" class="icon">
            <p style="line-height:25px;">alumni@ms.mingdao.edu.tw</p>
        </div>

        <div class="contact_detail">
            <img src="./img/pin.png" class="icon">
            <p style="line-height:25px;">臺灣41401臺中市烏日區中山路一段497號 明道樓5樓</p>
        </div>

        <div class="contact_detail" style="	margin-bottom: 3vh;">
            <p style="line-height:25px; margin-left:100px;"></p>
            <a href="https://www.facebook.com/md1969alumni/?__tn__=%2Cd%2CP-R&eid=ARBt0LskD_dasCe_J9oMPh2MR6etsDVKsQ_bOoX8PtnVVlMHu1BwU8cnCtzoeu0mMyW1-LEv0YtKjnOT" target="_blank"><img src="./img/logo_facebook.png" class="icon"></a>
            <a href="https://www.instagram.com/mingdao_alumni/" target="_blank"><img src="./img/logo_instagram.png" class="icon"></a>
            <a href="https://www.youtube.com/channel/UCQp2lSLeVQb8gVxgAYjr8Qg/?guided_help_flow=5" target="_blank"><img src="./img/logo_youtube.png" class="icon"></a>

        </div>

    </div>



    <div style="width:40vw;  min-width:400px">

        <div>
            <a id="app_download"></a>
            <div class="contact_detail">
                <img src="./img/MDHS.png"  style="width:120px;">


                <div class="contact_detail2">


                    <a href="https://play.google.com/store/apps/details?id=tw.edu.mingdao.mingdaoappv10&showAllReviews=true" target="_blank" class="download">
                        <div class="contact_detail3">

                            <img src="./img/logo_google-play.png" class="icon2">
                            <p style="line-height:25px;">GOOGLE PLAY 點擊下載</p><br>

                        </div>
                    </a>

                    <a href="https://apps.apple.com/tw/app/%E6%98%8E%E9%81%93%E5%AD%B8mdhs/id1476038393" target="_blank" class="download">
                        <div class="contact_detail3">

                            <img src="./img/logo_app.png" class="icon2">
                            <p style="line-height:25px;">APP STORE 點擊下載</p><br>

                        </div>
                    </a>

                </div>

            </div>

        </div>


    </div>


    <hr style="width:90%;margin:1em;padding:0px; ">

    <a align="center" class="copyright"> 
		<a style="white-space:nowrap; line-height:3em;">Copyright &copy; 2020  明道中學校友會(MDSHAA) All Rights Reserved &nbsp; | &nbsp;</a>  
		<a style="white-space:nowrap; line-height:3em;">網站設計‧  郭泱婍(YK)&nbsp; | &nbsp;美工設計‧  張婉柔</a>  
	</a>
</div>
</body>
</html>